<div class="panel-group">
  <div class="panel panel-default">
  <!-- UNEXPANDED BID WINDOW -->
    <div class="panel-heading" data-toggle="collapse" href="#collapse1">
     
     
     
       <div class=row>
        <div class='col-sm-11'>
            <h4 class='bidTitle'>
              The Soft Machine: Third
            </h4> 
          </div>
          <div class="col-sm-1">
            <button class="btn btn-success">Add</button>
          </div>
        </div>

        <div class='row'>
          <!-- IMAGE -->
          <div class=col-sm-2>
            <img class='bidIcon' src='https://images-na.ssl-images-amazon.com/images/I/51Ypfd0MP6L._AC_US218_.jpg'>
          </div>
          <!-- NAME + STRENGTH -->
          <div class='col-sm-2 price'>
            <div class=row>
             Today's Price:
              <br>
             <span class="numbers">$45</span>
            </div>
          </div>
          <!-- TODAY'S PRICE -->
           <div class=col-sm-2>
           Your Bid: <br><span class="numbers">$30</span>
          </div>
          <!-- YOUR BID -->
           <div class='col-sm-2 strength'>
           Bid Strength: <br><span class="numbers">60%</span>
          </div>
          <!-- CURRENT DIFFERENCE -->
           <div class=col-sm-2>
           Current Difference: <br><span class="numbers">$15</span>
          </div>
          <!-- CLOSEST HISTORIC DIFFERENCE -->
           <div class=col-sm-2>
           Closest Difference: <br><span class="numbers">-$10</span>
          </div>  
         </div>
    </div>
<!-- END OF UNEXPANDED BID WINDOW -->

    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-sm-8">
          <img class="expanded-graph" src="/images/graph-example1.png">
        </div>
        <div class="col-sm-4">
          <h2>Edit Bid</h2>
              <div class="form-group">
                <label for="bidAmount">Bid Price:</label>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input type="text" class="form-control" id="bidPrice" placeholder="Bid Price">
                    </div>
                  </div>
              </div>
          <span>Quantity:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <h4>Duration:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Amazon Link</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- START OF 2ND WINDOW -->
<div class="panel-group">
  <div class="panel panel-default">
  <!-- UNEXPANDED BID WINDOW -->
    <div class="panel-heading" data-toggle="collapse" href="#collapse2">
     
     
     
       <div class=row>
        <div class='col-sm-12'>
            <h4 class='bidTitle'>
              Echo Dot
            </h4> 
          </div>
        </div>

        <div class='row'>
          <!-- IMAGE -->
          <div class=col-sm-2>
            <img class='bidIcon' src='/images/echo.png'>
          </div>
          <!-- NAME + STRENGTH -->
          <div class='col-sm-2 price'>
            <div class=row>
             Today's Price:
              <br>
             $49.99
            </div>
          </div>
          <!-- TODAY'S PRICE -->
           <div class=col-sm-2>
           Your Bid: $20
          </div>
          <!-- YOUR BID -->
           <div class='col-sm-2 strength'>
           Bid Strength: 20%
          </div>
          <!-- CURRENT DIFFERENCE -->
           <div class=col-sm-2>
           Current Difference: $29.01
          </div>
          <!-- CLOSEST HISTORIC DIFFERENCE -->
           <div class=col-sm-2>
           Difference from Historic Low: -$5
          </div>  
         </div>
    </div>
<!-- END OF UNEXPANDED BID WINDOW -->

    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-sm-8">
          <img class="expanded-graph" src="/images/graph-example1.png">
        </div>
        <div class="col-sm-4">
          <h2>Edit Bid</h2>
              <div class="form-group">
                <label for="bidAmount">Bid Price:</label>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input type="text" class="form-control" id="bidPrice" placeholder="Bid Price">
                    </div>
                  </div>
              </div>
          <span>Quantity:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <h4>Duration:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Amazon Link</button>

        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
  <!-- UNEXPANDED BID WINDOW -->
    <div class="panel-heading" data-toggle="collapse" href="#collapse3">
     
     
     
       <div class=row>
        <div class='col-sm-12'>
            <h4 class='bidTitle'>
              Bissell Zing Vacuum
            </h4> 
          </div>
        </div>

        <div class='row'>
          <!-- IMAGE -->
          <div class=col-sm-2>
            <img class='bidIcon' src='/images/vacuum.png'>
          </div>
          <!-- NAME + STRENGTH -->
          <div class='col-sm-2 price'>
            <div class=row>
             Today's Price:
              <br>
             $61.89
            </div>
          </div>
          <!-- TODAY'S PRICE -->
           <div class=col-sm-2>
           Your Bid: $32
          </div>
          <!-- YOUR BID -->
           <div class='col-sm-2 strength'>
           Bid Strength: 50%
          </div>
          <!-- CURRENT DIFFERENCE -->
           <div class=col-sm-2>
           Current Difference: $31.11
          </div>
          <!-- CLOSEST HISTORIC DIFFERENCE -->
           <div class=col-sm-2>
           Difference from Historic Low: -$12
          </div>  
         </div>
    </div>
<!-- END OF UNEXPANDED BID WINDOW -->

    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-sm-8">
          <img class="expanded-graph" src="/images/graph-example1.png">
        </div>
        <div class="col-sm-4">
          <h2>Edit Bid</h2>
              <div class="form-group">
                <label for="bidAmount">Bid Price:</label>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input type="text" class="form-control" id="bidPrice" placeholder="Bid Price">
                    </div>
                  </div>
              </div>
          <span>Quantity:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <h4>Duration:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Amazon Link</button>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
  <!-- UNEXPANDED BID WINDOW -->
    <div class="panel-heading" data-toggle="collapse" href="#collapse4">
     
     
     
       <div class=row>
        <div class='col-sm-12'>
            <h4 class='bidTitle'>
              Death Star InfoGraphic Print
            </h4> 
          </div>
        </div>

        <div class='row'>
          <!-- IMAGE -->
          <div class=col-sm-2>
            <img class='bidIcon' src='/images/deathstar.png'>
          </div>
          <!-- NAME + STRENGTH -->
          <div class='col-sm-2 price'>
            <div class=row>
             Today's Price:
              <br>
             $21.24
            </div>
          </div>
          <!-- TODAY'S PRICE -->
           <div class=col-sm-2>
           Your Bid: $10
          </div>
          <!-- YOUR BID -->
           <div class='col-sm-2 strength'>
           Bid Strength: 40%
          </div>
          <!-- CURRENT DIFFERENCE -->
           <div class=col-sm-2>
           Current Difference: $11.24
          </div>
          <!-- CLOSEST HISTORIC DIFFERENCE -->
           <div class=col-sm-2>
           Difference from Historic Low: -$10
          </div>  
         </div>
    </div>
<!-- END OF UNEXPANDED BID WINDOW -->

    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-sm-8">
          <img class="expanded-graph" src="/images/graph-example1.png">
        </div>
        <div class="col-sm-4">
          <h2>Edit Bid</h2>
              <div class="form-group">
                <label for="bidAmount">Bid Price:</label>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon">$</div>
                      <input type="text" class="form-control" id="bidPrice" placeholder="Bid Price">
                    </div>
                  </div>
              </div>
          <span>Quantity:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <h4>Duration:</h4><input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-danger">Delete</button>
          <button class="btn btn-success">Amazon Link</button>
        </div>
      </div>
      
    </div>
  </div>
</div>