<div class="panel-group">
  <div class="panel panel-default">
  <!-- UNEXPANDED BID WINDOW -->
    <div class="panel-heading" data-toggle="collapse" href="#collapse1">
     
     
     
       <div class=row>
        <div class='col-sm-12'>
            <h4 class='bidTitle'>
              The Soft Machine: Third
            </h4> 
          </div>
        </div>

        <div class='row'>
          <!-- IMAGE -->
          <div class=col-sm-2>
            <img class='bidIcon' src='https://images-na.ssl-images-amazon.com/images/I/51Ypfd0MP6L._AC_US218_.jpg'>
          </div>
          <!-- NAME + STRENGTH -->
          <div class=col-sm-2>
            <div class=row>
              THIS IS THE NAME
              <br>
              THIS IS THE STRENGTH
            </div>
          </div>
          <!-- TODAY'S PRICE -->
           <div class=col-sm-2>
           THIS IS TODAY'S PRICE
          </div>
          <!-- YOUR BID -->
           <div class=col-sm-2>
           THIS IS YOUR BID
          </div>
          <!-- CURRENT DIFFERENCE -->
           <div class=col-sm-2>
           CURRENT DIFFERENCE
          </div>
          <!-- CLOSEST HISTORIC DIFFERENCE -->
           <div class=col-sm-2>
           HISTORIC LOW DIFFERENCE
          </div>  

         </div>
    </div>
<!-- END OF UNEXPANDED BID WINDOW -->


    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Panel Body</div>
      <div class="panel-footer">Panel Footer</div>
    </div>
  </div>
</div>