<% include ./partials/header.ejs %>
<p>Welcome to ShadowBid!</p>
<h4>Current Hot Deals</h4>
<div class="hotdeals">
	
</div>
<!-- <img src="/public/images/amazonhotdeals.jpg"> -->
<% include ./partials/footer.ejs %>